.App {
  text-align: right;
  background-color: darkcyan;
  color: white;
  text-align: center;


}

.leftPos {
  text-align: center;
  margin-right: 10px;
  padding: 30px;
  height: 350px;
  width: 200px;
  position: absolute;
  background-color: aliceblue;
  border: 3px solid skyblue;
  float: left;
  position: absolute;
  top: 25%;
  left: 10%;
  margin-top: -30px;
  margin-left: -30px;
}

.h{
  font-family: "Times New Roman",
  Times, serif; color: darkblue;
  font-weight: bold;
  text-shadow: 2px 2px 5px skyblue;
}

.centerPos{
  border: 3px solid skyblue;
  background-color: aliceblue;
  padding: 40px;
  position: absolute;
  top: 25%;
  left: 40%;
  margin-top: -50px;
  margin-left: -50px;
}

.textColor{
  color: black;
  text-shadow: 2px 2px 5px skyblue;
}


.rightPos{
  text-align: left;
  border: 3px solid skyblue;
  background-color: aliceblue;
  width: 200px;
  height: 350px;
  padding: 20px;
  position: absolute;
  top: 5%;
  left: 150%;
  margin-top: -30px;
  margin-left: -70px;
  display: inline-block;
}

.button {
  margin: 30px;
  font-size: 18px;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  border: none;
  background: rgb(141,217,252);
  cursor: pointer;
}

.textFooder{
  background-color: #61dafb;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div.b {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
