.App {
  text-align: right;
  background-color: #282c34;
  color: white;
  text-align: center;
  border-color: crimson;

}

.text{
  text-align: center;
}

.button {
  margin: 30px;
  font-size: 18px;
  height: 65px;
  width: 250px;
  border-radius: 10px;
  border: none;
  background: rgb(141,217,252);
  cursor: pointer;
}

.textFooder{
  background-color: #61dafb;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
